<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0O35W3L6--ElrHwoA9va6670FiGe8vaI</string>
	<key>GCM_SENDER_ID</key>
	<string>237661035600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lekkalu.finuncle</string>
	<key>PROJECT_ID</key>
	<string>causal-tracker-407915</string>
	<key>STORAGE_BUCKET</key>
	<string>causal-tracker-407915.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237661035600:ios:b49a26d4621b7192cd0555</string>
</dict>
</plist>